{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "extends": [
    "airbnb-typescript"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {}
}
